<div class="card container mt-5">
  <div class="card-body">
    <div class="rounded mx-auto d-block" *ngIf="carregando">
      <img class="rounded mx-auto d-block mw-100 mh-100 img-responsive" src="assets/img/loading.gif" width="320" height="320">
    </div>
    <div fxFlex fxLayout="column" class="container" *ngIf="!carregando">
      <div class="container rounded mx-auto d-block text-center font-weight-bold text-lowercase" >
        <br>
        <h3 class="Tittle align-items-center  ">Procure por um personagem</h3>
        <div class="jumbotron ">
          <div class="col-lg-12">
            <form class="input-group" id="formulario">
              <input
                type="text"
                class="form-control"
                autocomplete="off"
                placeholder="Digite o nome do personagem..."
                (ngModel)="this.nomePersonagem"
                
              />
              <span class="input-group-btn ">
              <button class="btn btn-dark" type="submit" (click)="pesquisar()">Pesquisar</button>
          </span>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="allCharacters.length === 0" class="text-center mt-4">
        <h1>Ops!!</h1>
        <p>Desculpe, mas nenhum resultado foi encontrado.</p>
      </div>
      <div *ngIf="allCharacters.length > 0">

        <div fxLayout="row wrap" class="row justify-content-md-center" >
          <div  class="col-md-auto" fxFlex="25" fxFlex.md="33" fxFle.sm="50" fxFlex.xs="100" fxLayout="column"
                *ngFor="let character  of allCharacters | paginate: {itemsPerPage: itemsPerPage, currentPage:paginaAtual, totalItems: total} " style="padding: 15px">
            <app-card-character [character]="character"></app-card-character>
          </div>
        </div>
        <div  class="col-md-auto align-items-center"  >
          
        </div>
      </div>
    </div>
  </div>
</div>







